/* Navbar.css */

.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }
  
  .brand {
    display: flex;
    align-items: center;
    margin-left: 10%;
    color: rgb(107, 29, 29);
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    display: none; /* Hidden by default on larger screens */
  }
  
  .links {
    list-style: none;
    display: flex;
    margin-right: 10%;
  }
  
  .link-item {
    margin-right: 25px;
  }
  
  .links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: hsl(9, 100%, 62%); /* Your hover color for links */
  }
  
  .links li:hover {
    background-color: #f2f2f2; /* Your hover color for li */
  }
  
  @media (max-width: 768px) {
    .toggle {
      display: block;
    }
  
    .links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    }
  
    .links.open {
      display: flex;
    }
  }
  